<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navabar.ejs') %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h1>Realizar pergunta</h1>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarPergunta">
          <label for="">Título</label>
          <input type="text" placeholder="Título da Pergunta" class="form-control" name="titulo" required>
          <label for="">Descrição da Pergunta</label>
          <textarea class="form-control" placeholder="Descreva sua pergunta aqui" name="descricao" required></textarea><br>
          <button class="btn btn-success ">Enviar</button>
        </form>
      </div>
    </div> 
  </div><!--Container-->
</body>
<%- include('partials/footer.ejs') %>